.container-contato{
    height: calc(90vh - 120px);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 20px 0;

}

.container-home{
    display: flex;

    justify-content: center;


}

.subcontainer-home{
    box-shadow: 0 0 0 1.5px rgb(171,171,171,0.3);
    width: 70%;
    display: flex;
    border-radius: 5px;
    background: white;
}

.container-left{
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.container-left p{
    font-size: 18px;
    margin: 20 0;
    max-width: 400px;
}
/*
.container-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
*/
.container-form input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid #797979;
    border-radius: 5px;
    font-size: 17px;
}

.container-form textarea{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #797979;
    border-radius: 5px;
    font-size: 17px;
    resize: none;
}

.button-salvar{

    background-color: red;
    font-weight: bold;
}

.container-right{
    border-left: 1px solid #cacaca;
    background: rgb(239,239,239);
    width: 100%;
    padding: 10 40px;
}

.container-right li{
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    margin: 5px 0;
}
.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*
.container-detalhe{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;

}
*/

.container-button button{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    cursor: pointer;
    color:white;
    margin-top: 20px;
    transition: all ease 0.2s;
    margin: 0 10px;

}

.container-button button:first-child{
    background: blue;
}

/* CSS */
button {
    background-color:blue;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow:rgba(150, 150, 228, 0.886) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .container-butao{
    text-align: center;

  }